:root {
  --primary: #0d47a1;
  --primary-dark: #002171;
  --primary-light: #5472d3;
  --primary-text: #ffffff;
}

h1 {
  font-size: 30px;
  margin: 10px;

  color: var(--primary);
  padding: 8px;
}

h2 {
  font-size: 20px;
  /* color: var(--primary-text); */
}

.center {
  text-align: center;
}

.container {
  margin-top: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: center;
}

.player {
  margin: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--primary-text);
}

.score {
  padding: 1px;
  font-size: small;
  font-weight: bold;
  background-color: var(--primary-dark);
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--primary-text);
}

.round-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  margin: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 23px;
  cursor: pointer;
  background-color: var(--primary-dark);
  color: var(--primary-text);
}

.round-btn:hover {
  background-color: var(--primary-light);
}

.home-button {
  margin-top: 40px;
  border-radius: 5px;
  border-color: #0d47a1;
  width: 80px;
  height: 40px;
  font-size: 15px;
  background-color: var(--primary);
  font-weight: bold;
  color: white;
}

.home-button:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px);
  font-style: var(--primary-light);
  font-size: 20px;
  font-variant: small-caps;
}
